<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to("Number", sort: "position") %></th>
      <th><%= link_to("Question", sort: "text") %></th>
      <th><%= link_to("Text", sort: "text") %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.position %></td>
        <td><%= question.text %></td>
        <td><%= question.text %></td>
        <td><%= link_to 'Show', question, class: "button small secondary wide" %></td>
        <td><%= link_to 'Edit', edit_question_path(question), class: "button small secondary wide" %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, class: "button small secondary alert wide"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for(:title) do %>
  All Questions
<% end %>

<br>

<%= link_to 'New Question', new_question_path, class: "button [secondary success alert]" %>
