<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Number</th>
      <th>Text</th>
      <th>O</th>
      <th>-</th>
      <th>X</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>

        <td><%= question.text %></td>
        <td><%= question.position %></td>
        <td><%= question.text %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for(:title) do %>
  All Questions
<% end %>

<br>

<%= link_to 'New Question', new_question_path, class: "button [secondary success alert]" %>
