<hr/>
<h1>Question <%= @current + 1 %> of <%= @total %></h1>
<hr/>
<div id="quiz"></div>
<p id="question"><%= @question.text %></p>

<%= form_tag({:controller => "quiz", :action => "answer", :question => @question.id}) do %>
<% @choices.each do |choice| %>
<p class="choice">
	<%= submit_tag(choice.text, :name => "keep[#{choice.id}]", :class => "submit_button") %> 
</p>
<% end %>

	<% end %>

	<% content_for(:title) do %>
	Question <%= @current + 1 %> of <%= @total %>
	<% end %>