
<div id="header" class="bg-blue has-dropdown">
  <a class="sidebar-button show-for-small" id="sidebarButton" href="#sidebar">
    <%= image_tag("SnappyQuizLogo.png", :class=> "main_logo", size: "200x70", alt: "Menu wht") %> 
  </a>

  <div class="row hide-for-small">
    <div class="small-3 columns">
      <%= link_to(image_tag("SnappyQuizLogo.png", :class=> "main_logo" , size: "200x70", alt: "Menu wht"), root_path) %>
    </div>
    <div class="small-7 columns">
      <%= link_to("Play", quiz_index_path, :class => "button secondary nav_buttons")%>
      <%= link_to("Questions", questions_path, :class => "button secondary nav_buttons")%>
      <%= link_to("Connect", questions_path, :class => "button secondary nav_buttons")%>
      <br class="clear_both" />

    </div>
    <div class="small-2 columns">
      <div class="right">
        <% if user_signed_in? %>
        <div style="margin-top: 10px;">
        Signed in as <%= current_user.name %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path%>
        </div>
        <% else %>
        <div id="signup">
          <%= link_to("", new_user_registration_path, class:"sign_up") %>
        </div>
          <%= link_to(image_tag("fb_sign_in.png", :style=> "margin-top:-15px;" , size: "200x70", alt: "Menu wht"), user_omniauth_authorize_path(:facebook)) %>
        <% end %>
      </div>
    </div>
  </div>
</div>