
<div id="header" class="bg-blue has-dropdown">
  <a class="sidebar-button show-for-small" id="sidebarButton" href="#sidebar">
    <%= image_tag("SnappyQuizLogo.png", :class=> "main_logo", size: "200x70", alt: "Menu wht") %> 
  </a>

  <div class="row hide-for-small">
    <div class="small-3 columns">
      <%= image_tag("SnappyQuizLogo.png", :class=> "main_logo" , size: "200x70", alt: "Menu wht") %>
    </div>
    <div class="small-7 columns">
      <%= link_to("Play", quiz_index_path, :class => "button secondary nav_buttons")%>
      <%= link_to("Questions", questions_path, :class => "button secondary nav_buttons")%>
      <%= link_to("Connect", questions_path, :class => "button secondary nav_buttons")%>
      <br class="clear_both" />

    </div>
    <div class="small-2 columns">
      <div class="right">
        <% if user_signed_in? %>
        Signed in as <%= current_user.email %>. Not you?
        <%= link_to "Sign out", "/"%>
        <% else %>
        <div id="signup">
          <%= link_to("", "root", class:"sign_up") %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>