<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "SnappyQuiz | by Jonathan Wexler" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
  <%= render '/layouts/shim'%>

</head>

<body>
<div id="wrapper">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= render '/layouts/header' %>
  <div class="row buffer_bottom">
    <div class="small-12 columns">
      <div class="small-8 small-offset-2 columns text-center">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "application" %>
</div>
  <%= render '/layouts/footer' %>
<!-- </div> -->
</body>
</html>